{% extends 'bootstrap.html' %}

{% block title %}{{puzzle.name}}{% endblock %}

{% block bootstrap4_content %}
  <div class="container mt-4">
    {% if puzzle.is_answered %}
      {% if station.next %}
        <p class="alert alert-success">
          Správně! Well played.
        </p>
        <p>
          Přesuň se na další lokaci. Jestli je to možné, vem svého parťáka s sebou.
        </p>
        {% include 'station_summary.html' with station=station.next %}
      {% else %}
        <h1>Q'apla!</h1>
      {% endif %}
    {% else %}
      {% include 'station_summary.html' with station=station %}
      {% if puzzle %}
        {% include 'puzzle.html' %}
      {% else %}
        <p>Místo je bez hádanky</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
