{% extends 'bootstrap.html' %}

{% block title %}{{puzzle.name}}{% endblock %}

{% block bootstrap4_content %}
  <div class="container mt-4">
    {% if puzzle.is_answered %}
      {% if station.next %}
        <p class="alert alert-success">
          Správně! Well played.
        </p>
        <p>
          Přesuň se na další lokaci. Jestli je to možné, vem svého parťáka s sebou.
        </p>
        {% include 'station_summary.html' with station=station.next %}
      {% else %}
        <h1>Q'apla!</h1>
      {% endif %}
    {% else %}
      {% include 'station_summary.html' with station=station %}
      {% if puzzle %}
        <h2>{{puzzle.name}}</h2>
        <blockquote class="blockquote">
          <p class="mt-4">{{puzzle.question}}</p>
        </blockquote>

        {% include 'puzzle_form.html' %}
      {% endif %}

      {% if attempts %}
        <p class="alert alert-danger">
          Žádná z tvých odpovědí nebyla správná
        </p>
        <ul>
          {% for attempt in attempts %}
            <li>{{attempt.text}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
